<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ti.loja">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".CadastrarActivity" />
        <activity android:name=".DetalhesActivity" />
        <activity android:name=".Usuario.LoginActivity" />
        <activity android:name=".TelaInicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Usuario.CadastrarUsuario"
            android:label="@string/title_activity_cadastrar_usuario" />
        <activity
            android:name=".Empresa.CadastrarEmpresa"
            android:label="@string/title_activity_cadastro_loja" />
        <activity android:name=".Usuario.ListaUsuariosActivity" />
        <activity
            android:name=".Usuario.DetalhesUsuarioActivity"
            android:label="@string/title_activity_detalhes_usuario" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.ti.loja"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Empresa.ListaEmpresaActivity" />
        <activity
            android:name=".Empresa.DetalhesEmpresaActivity"
            android:label="@string/title_activity_detalhes_empresa" />
        <activity
            android:name=".Produto.ProdutosShopActivity"
            android:label="@string/title_activity_produto_activity" />
        <activity
            android:name=".Produto.CadastrarProduto"
            android:label="@string/title_activity_cadastrar_produto" />
        <activity android:name=".Produto.ListaProdutosActivity" />
        <activity
            android:name=".Produto.DetalhesProdutoActivity"
            android:label="@string/title_activity_detalhes_produto" />
        <activity
            android:name=".Produto.DetalhesShopActivity"
            android:label="@string/title_activity_detalhes_shop" />
        <activity android:name=".MenuAdminActivity"></activity>

        <receiver android:name=".receiver.SMSReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>